<h2>
	Vendors
	<button type="button" class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#newVendor">
		New Vendor
	</button>
</h2>

<table class="table">
	<thead>
		<tr>
			<th>Vendor</th>
			<th>Products</th>
			<th>Sales</th>
			<th>Profit</th>
			<th>Open Orders</th>
		</tr>
	</thead>
	<tbody>
		<% @vendors.each_with_index do |vendor, index| %>
			<tr>
				<td><a data-toggle="collapse" data-target="#row<%= index %>" class="accordion-toggle"><%= vendor.name %></a></td>
				<td></td>
				<td></td>
				<td></td>
				<td><span class="badge">42</span></td>
			</tr>
			<tr id="row<%= index %>" class="accordian-body collapse">
				<td>
					<% unless vendor.address1.blank? %>
						<address>
							<%= vendor.address1 %><br>
							<% unless vendor.address2.blank? %><%= vendor.address2 %><br/><% end %>
							<%= vendor.city %>, <%= vendor.province %> <%= vendor.zip %><br/>
							<%= vendor.country %>
						</address>
					<% end %>
					<%= vendor.email %>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'form' %>