<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @order.shop_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @order.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @order.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @order.province %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @order.zip %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @order.country_code %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @order.created_at %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
