<p id="notice"><%= notice %></p>

<h2><%= @vendor.name %></h2>

<h3>Orders</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Order</th>
			<th>Date</th>
			<th>Customer</th>
			<th>Fulfillment</th>
			<th>Items</th>
			<th class="text-right">Total</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<tr>
				<td><%= link_to order.name, order %></td>
				<td><%= order.created_at %></td>
				<td><%= [order.first_name, order.last_name].join(' ') %></td>
				<td></td>
				<td><%= order.line_items.sum(:quantity) %></td>
				<td class="text-right"><%= number_to_currency(order.line_items.sum(:price)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h4>
	Products
	<a class="btn btn-xs btn-success pull-right">Add</a>
</h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Product</th>
			<th>Shopify</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.title %></td>
				<td><a href="https://shop.domain/products/<%= product.handle %>" target="_blank">Shopify</a></td>
			</tr>
		<% end %>
	</tbody>
</table>